.hero {
    margin: 0 auto;
    backface-visibility: hidden;
    max-width: 900px;
    animation: hero-animation 1s forwards
}

@media (min-width: 1300px) {
    .hero {
        max-width: 100%
    }
}

@keyframes hero-animation {
    0% {
        opacity: 0;
        transform: scale(0.96)
    }
    100% {
        opacity: 1;
        transform: scale(1)
    }
}

.hero-icons {
    transform-origin: 50% 50%;
    animation: hero-icons-animation 2s 2.5s cubic-bezier(0.5, 0.1, 0.5, 0.9) both
}

@keyframes hero-icons-animation {
    50% {
        transform: scale(1.1)
    }
}

.hero-icon {
    fill: #c2f5ff;
    opacity: .1;
    transform-origin: 50% 50%
}

.hero-icon.dot {
    transform: translate(35px, -37px);
    opacity: 1
}

.hero-icon.short-1 {
    transform: translate(119px, 37px) rotate(-134deg)
}

.hero-icon.short-2 {
    transform: translate(-20px, 61px) rotate(106deg)
}

.hero-icon.short-3 {
    transform: translate(65px, -18px) rotate(-17deg)
}

.hero-icon.long-1 {
    transform: translate(-101px, -45px) rotate(-107deg)
}

.hero-icon.long-2 {
    transform: translate(-35px, 8px) rotate(133deg);
    opacity: 1
}

.hero-icon.long-3 {
    transform: translate(-64px, 20px) rotate(13deg)
}

.hero-icon.loop-1 {
    transform: translate(-51px, -128px)
}

.hero-icon.loop-2 {
    transform: translate(166px, -88px)
}

.hero-icon.loop-3 {
    transform: translate(79px, 21px);
    opacity: 1
}

.hero-icon-1 {
    animation: hero-icon-animation-t 1.2s 1.2s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.8s both
}

.hero-icon-2 {
    animation: hero-icon-animation-t 1.2s 1.4s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.9s both
}

.hero-icon-3 {
    animation: hero-icon-animation-t 1.2s 1.6s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.9333333333s both
}

.hero-icon-4 {
    animation: hero-icon-animation-t 1.2s 1.8s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.95s both
}

.hero-icon-5 {
    animation: hero-icon-animation-t 1.2s 2s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.96s both
}

.hero-icon-6 {
    animation: hero-icon-animation-t 1.2s 2.2s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.9666666667s both
}

.hero-icon-7 {
    animation: hero-icon-animation-t 1.2s 2.4s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.9714285714s both
}

.hero-icon-8 {
    animation: hero-icon-animation-t 1.2s 2.6s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.975s both
}

.hero-icon-9 {
    animation: hero-icon-animation-t 1.2s 2.8s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.9777777778s both
}

.hero-icon-10 {
    animation: hero-icon-animation-t 1.2s 3s cubic-bezier(0.5, 0, 0.2, 1) both, hero-icon-animation-o 0.4s 3.98s both
}

@keyframes hero-icon-animation-t {
    100% {
        transform: translate(0, 0) rotate(0deg)
    }
}

@keyframes hero-icon-animation-o {
    100% {
        opacity: 1
    }
}

.hero-app {
    fill: #71abb7;
    transform-origin: 50% 50%
}

@keyframes hero-app-animate-left {
    0% {
        transform: translateX(30px) scale(1);
        opacity: .1;
        animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 0.5)
    }
    10% {
        transform: translateX(20px) scale(1.5);
        animation-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
    }
    100% {
        transform: translateX(0px) scale(1);
        opacity: 1
    }
}

@keyframes hero-app-animate-right {
    0% {
        transform: translateX(-30px) scale(1);
        opacity: .1;
        animation-timing-function: cubic-bezier(0.3, 0.1, 0.9, 0.5)
    }
    10% {
        transform: translateX(-20px) scale(1.5);
        animation-timing-function: cubic-bezier(0.1, 0.4, 0.2, 1)
    }
    100% {
        transform: translateX(0px) scale(1);
        opacity: 1
    }
}

.hero-app-1 {
    fill: #608d99;
    animation: hero-app-animate-right .8s 4.04s both
}

.hero-app-2 {
    fill: #5d8894;
    animation: hero-app-animate-left .8s 4.08s both
}

.hero-app-3 {
    fill: #5b838f;
    animation: hero-app-animate-right .8s 4.12s both
}

.hero-app-4 {
    fill: #587e8a;
    animation: hero-app-animate-left .8s 4.16s both
}

.hero-app-5 {
    fill: #557985;
    animation: hero-app-animate-right .8s 4.2s both
}

.hero-app-6 {
    fill: #527480;
    animation: hero-app-animate-left .8s 4.24s both
}

.hero-app-7 {
    fill: #4f6f7b;
    animation: hero-app-animate-right .8s 4.28s both
}

.hero-app-8 {
    fill: #4d6a77;
    animation: hero-app-animate-left .8s 4.32s both
}

.hero-app-9 {
    fill: #4a6572;
    animation: hero-app-animate-right .8s 4.36s both
}

.hero-app-10 {
    fill: #47606d;
    animation: hero-app-animate-left .8s 4.4s both
}

.hero-app-11 {
    fill: #445b68;
    animation: hero-app-animate-right .8s 4.44s both
}

.hero-app-12 {
    fill: #415663;
    animation: hero-app-animate-left .8s 4.48s both
}

.hero-app-13 {
    fill: #3f515e;
    animation: hero-app-animate-right .8s 4.52s both
}

.hero-app-14 {
    fill: #3c4c59;
    animation: hero-app-animate-left .8s 4.56s both
}

.hero-app-15 {
    fill: #394754;
    animation: hero-app-animate-right .8s 4.6s both
}

@-moz-document url-prefix() {
    .hero-icon.short-1 {
        transform: translate(26px, -78px) rotate(-134deg)
    }
    .hero-icon.short-2 {
        transform: translate(40px, -42px) rotate(106deg)
    }
    .hero-icon.short-3 {
        transform: translate(40px, -32px) rotate(-17deg)
    }
    .hero-icon.long-1 {
        transform: translate(-124px, 4px) rotate(-107deg)
    }
    .hero-icon.long-2 {
        transform: translate(-92px, 22px) rotate(133deg)
    }
    .hero-icon.long-3 {
        transform: translate(-56px, 8px) rotate(13deg)
    }
}

@supports (-ms-accelerator: true) {
    .hero-icon {
        opacity: 1 !important;
        animation: none !important;
        transform: none !important
    }
}
